<footer class="site-footer">

  <h2 class="footer-heading">Contatti</h2>

  <ul class="contact-list">
    <li><a href="http://alessandrodescovi.it">alessandrodescovi.it</a></li>
    <li><a href="http://venezia86.it">venezia86.it</a></li>
    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  </ul>
  <ul class="social-media-list">
    <li><a href="https://github.com/simonini/">Github</a></li>
    <li><a href="https://twitter.com/simonini">Twitter</a></li>
  </ul>

  <p>{{ site.description }}</p>

</footer>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-440601-20', 'auto');
  ga('send', 'pageview');

</script>
